<h1><%= t('editing_mailing_list') %></h1>

<% form_for([:admin, @mailing_list]) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit t('update") %>
  </p>
<% end %>

<%= link_to t('back'), admin_mailing_lists_path %>
